body {
	font-family: Helvetica, Arial, sans-serif;
	color: black;
}
a {
	color: inherit;
	text-decoration: none;
}
pre.cake-debug {
	background: skyblue;
	padding: 25px;
}
#flashMessage {
	background: skyblue;
	padding: 5px;
	text-align: center;
}
.rounded {
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}


/**Basic Layout [default]**/
div#header {
	background: #eee;
	border-bottom: solid thin black;
	padding: 5px 15px;
}
h2#logo {	
	font-size: 36px;
	float: left;

}
h1.poster {
    padding: 50px 50px 250px;
    font-size: 50px;
    text-align: center;
}
h3#tagline {
	display: inline;	
	background: royalblue;	
	margin-left: 5px;
	line-height: 40px;
	padding: 5px 10px;
	color: white;
}
div.status {
	float: right;	
}
div.status * {
	float: right;
	margin: 2px;
}
div.status #displayName {
	font-size: 36px;
	font-weight: bold;
	color: royalblue;
	letter-spacing: 2px;
	line-height: 30px;
}
div.status span.stat_btn a {
	margin-left: 5px;
	margin-top: -33px;

}
div.status a {
	padding: 7px 25px;
	background: black;
	color: white;
}
div.status a:hover {
	background-color: royalblue;
}

/************************
*** DIV ACTIONS
*************************/

div.actions {
	dipslay: normal;
	margin: 50px;
	background: #EEE;
	padding: 50px;
	height: 100px;
	overflow-y: auto;
}
div.actions h3 {
	font-size: 36px;
	margin-bottom: 12px;
}
div.actions ul {
	margin-left: 15px;		
}
div.actions li a {
	text-decoration: none;
	background: #CCC;
	padding: 7px;
	font-size: 14px;
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;
}
div.actions li a:hover {
	background: skyblue;
}


/************************
*** FOOTER
*************************/

div#footer {
	margin-top: 300px;
	padding: 50px;
	min-height: 150px;
	background: #333;
}
div#footer table tr {

}
caption {
	font-size: 28px;
	color: #CCC;
	font-style: italic;
}
/**Pseudo Drop down*
div.actions ul  {
	margin-left: 45px;
	background: purple;
}
div.actions ul li {
	background: black;
	width: 200px
}
div.actions ul li {
	position: absolute;
	background: #EEE;
	padding: 5px;
	cursor: pointer;
}
div.actions ul li:hover {
	background-color: royalblue;
	color: white;
}
div.actions ul li a {
	cursor: pointer;
	color: inherit;
}
li.nada {
	border: solid thin #CCC;
	font-size: 0.8em;

}
*/


/**Table Stuff**/
div.index {
	margin: 50px;
}
div.index h2:first-child,
div.index legend {
	font-size: 36px;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 15px 2px;
	color: #333;	
	
}

th,td {
	padding: 7px;
	text-align: left;
}
th {
	background: #333;
	border-top: solid thin #777;
	border-bottom: solid thin white;	
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 0.8em;
}
th a {
	text-decoration: none;
	color: white;	
}
td {
	background: #EEE;
}
tr {
	border: solid 2px transparent;
}
p {
	font-size: 0.75em;
	padding: 50px 15px 15px;

}
div.paging {
	padding: 0px 15px 15px;
	margin: 0 0 0 0;	
}
/**FORM**/
div.ajdata {
	display: inline;
	margin-left: 7px;
}
div.input,
div.submit {
	padding: 15px;
	clear: both;
	margin: 1px;	
}
div.submit input[type=submit]{
	padding: 15px 75px;
	margin-left: 130px;
}
div.submit input[type=submit]:hover{
	opacity: 0.75;
}
fieldset{
	border: solid thick red;
	overflow-x: hidden;
	overflow-y: auto;
}
.index label {
	padding: 5px 15px;
	float: left;
	text-align: left;
	width: 100px;
	border-right: solid thick gray;
	margin-right: 3px;
}

fieldset {
	padding: 0 0 0 0;
	background: white;
	border: none;
	margin: 0 0 0 0;
	overflow: hidden;
}

/*********************************
** VIEW page formats
*********************************/
div.view h2 {
	font-size: 38px;
	padding: 25px;
	letter-spacing: 2px;
	font-style: italic;
}
dl { /*Grouping*/
	margin: 5px 50px 150px;
}

dt { /*Header*/
	background: #333;
	color: white;
	float: left;
	padding: 15px;
	width: 200px;
	text-transform: uppercase;
	margin-right: 7px;

}

dd { /*Record data*/
	line-height: 45px;
	padding: 3px;
	font-size: 28px;	
}
dd:hover {
	color: royalblue;
}
	dd a {	
		font-weight: bold;	
	}

div.related {
	background: #EEE;
	margin: 50px;
}
div.related h3 {
	font-size: 36px;
	padding: 45px 45px 15px;
}
div.related div.actions {
	padding: 0 0 0 0;
	margin: 0px 45px;
}
div.related table {
	margin-left: 60px;
	margin-bottom: 20px;
}
